<% words_list.each do |word| %>
  <%= link_to phrase_path(word), class: "list-group-item d-flex" do %>
    <span class="me-auto">&nbsp; <%= word.content %></span>
    <span><%= word.translations.size %> <%= I18n.t("language_show.translations") %></span>
  <% end %>
<% end %>
