<h1>Languages</h1>

<div id="languages" class="list-group">
  <% @languages.each do |language| %>
    <%= link_to language.name, language, class: "list-group-item list-group-item-action" %>
  <% end %>
</div>

<% if user_signed_in? %>
  <div>Don't see your language? <%= link_to "Add it", new_language_path %> to our database!</div>
<% else %>
  <div>Don't see your language? <%= link_to "Sign in", new_user_session_path %>/<%= link_to "Sign up", new_user_registration_path %> to add a new language to the database!</div>
<% end%>
