<h1>User <%= @user.username %></h1>
<p>Average translation rating: <%= @average_rating %></p>
<h2>Submitted Translations</h2>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <% @user.translated_words.each do |translation| %>
    <%= render "users/submitted_translation", translation: translation %>
  <% end %>
</div>
