<div id="<%= dom_id rating %>">
  <p>
    <strong>Rating:</strong>
    <%= rating.rating_val %>
  </p>

  <p>
    <strong>Submitter:</strong>
    <%= rating.submitter_id %>
  </p>

  <p>
    <strong>Phrase:</strong>
    <%= rating.phrase_id %>
  </p>

</div>
